body {
    background-color: #114232;
}

html, body, input, textarea, select, button {
    border-color: #736b5f;
    background-color: rgb(17, 66, 50);
    color: #e9ce13;
    }
.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.horizontal-nav .left {
    display: flex;
    align-items: center;
}

.horizontal-nav .right {
    display: flex;
    align-items: center;
}

.horizontal-nav li {
    margin-left: 10px;
}

.horizontal-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-nav li a:hover {
    background-color: #111;
}

.branch {
    background-color: rgb(54, 105, 88);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.branch h2 {
    margin-top: 0;
}

.user {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    border: 4px solid #ddd;
    border-radius: 5px;
    background-color: rgba(12, 154, 88, 0.85);
    box-shadow: 0 0 0 1px #ddd;
}